body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    text-align: center;
}




input[type="text"],input[type="password"]{
  outline: none;
  padding: 7px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}


#email{
  outline: none;
  padding: 7px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}



input[type="submit"]{
  padding: 5px;
  color: #fff;
  background: #0098cb;
  width: 300px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: #00b8eb;
}

header{
    border-bottom: 2px solid #eee;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: #333;
}



.active{
  color: #333;
}

