<head>

        <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />
        <script type="text/javascript" src="../../lib/jquery/jquery-1.12.2.min.js"></script>
        <script type="text/javascript" src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="js/listadoReservas.js"></script>
        <script type="text/javascript" src="js/hidden.js"></script>
    
        <meta charset="utf-8">
        <title>Listado de reservas</title>
    </head>
    
    <body>
        <h1>Administrador</h1>
        <h2>Listado de reservas</h2>
    
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id User Lib</th>
                    <th>Id Libro</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Cantidad Disponible</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Descripción</th>
                    <th>Estado2</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
    
            <tbody>
            
                {foreach from=$consulta item=libro}
                  
                <tr>
                    
                    <td>{$libro[9]}</td>
                    <td>{$libro[0]}</td>
                    <td>{$libro[11]}</td>
                    <td>{$libro[1]}</td>
                    <td>{$libro[2]}</td>
                    <td>{$libro[3]}</td>
                    <td>{$libro[4]}</td>
                    <td>{$libro[5]}</td>
                    <td>{$libro[6]}</td>
                    <td>{$libro[10]}</td>
                    <td>{$libro[8]}</td>
                    
                    
                    <td>
                        <button type="button" class="btn btn-warning prestar" id='prestar'>Prestar</button>
                        
                    </td>
             
                 
    
                </tr>
                {/foreach}
              
    <!--<a href="./listadoReservas.php?idPrestar={$libro[9]} & est={$libro[7]} & cant={$libro[3]} & idLib={$libro[0]}" class="btn btn-warning" value="{$libro[7]}" name="editar" id="editar">Prestar</a>-->
                
            </tbody>
    
    
            </thead>
        </table>
        
    </body>
    
    </html>