<head>

        <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />
        <script type="text/javascript" src="../../lib/jquery/jquery-1.12.2.min.js"></script>
        <script type="text/javascript" src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="DataTables/datatables.min.js"></script>
       
        <script type="text/javascript" src="js/misLibros.js"></script>
        <meta charset="utf-8">
        <title>Listado Libros</title>
    </head>
    
    <body>
        
            <h1 >Mis libros</h1>
       
    
    
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Autor</th>
                    <th>Editorial</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Id user lib</th>
                    <th>Id libro</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                
    
                </tr>
    
            <tbody>
    
    
                {foreach from=$consulta item=libro}
                
                <tr>
                    <td >{$libro[0]}</td>
                    <td >{$libro[1]}</td>
                    <td >{$libro[2]}</td>
                    <td >{$libro[3]}</td>
                    <td >{$libro[4]}</td>
                    <td >{$libro[5]}</td>
                    <td >{$libro[8]}</td>
                    <td >{$libro[9]}</td>
                    <td >{$libro[11]}</td>
    
                    <td>
                        <button type="submit" class="btn btn-primary devolver" id='devolver' >Devolver</button>
                       
                    </td>
                </tr>
             
                {/foreach}
               
            </tbody>
    
    
            </thead>
        </table>
    
    </body>
        
</html>
    
    