<head>

    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />
    <script type="text/javascript" src="../../lib/jquery/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
   
    <script type="text/javascript" src="js/verLibros.js"></script>
    <meta charset="utf-8">
    <title>Listado Libros</title>
</head>

<body>
    
        <h1 >Listado de libros</h1>
   
   
    


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Género</th>
                <th>Cantidad Disponible</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Id User</th>
                <th>Id User Lib</th>
                <th>Id Libro UL</th>
                <th>Cantidad</th>
                <th>Agregar reserva</th>

            </tr>

        <tbody id="form">


            {foreach from=$lib item=libro}
            
            <tr>
                <td >{$libro[0]}</td>
                <td >{$libro[1]}</td>
                <td >{$libro[2]}</td>
                <td >{$libro[3]}</td>
                <td >{$libro[4]}</td>
                <td >{$libro[5]}</td>
                <td >{$libro[6]}</td>
                <td >{$libro[7]}</td>
                <td >{$libro[8]}</td>
                <td >{$libro[9]}</td>
                <td >{$libro[10]}</td>
                <td >{$libro[11]}</td>
                <td>
                        
                    
                    {if $libro[11] eq 1}
                    <button  type="button" class="btn btn-danger cancelar " id='cancelar'>Cancelar</button>
                     {else}
                    <button type="submit" class="btn btn-primary solicitar" id='solicitar' >Solicitar</button>
                    {/if}
                </td>
            </tr>
           
            {/foreach}
         
        </tbody>


        </thead>
    </table>

</body>


<!--

    <a href="./prestarLibro.php?idLib={$libro[0]}  & cant={$libro[3]}" type="submit" class="btn btn-primary"
                        id='solicitar'>Solicitar</a> !-->

</html>

